<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../jquery-ui/css/excite-bike/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/admin-style.css">
	</head>

	<body>
		
		<h1>Kraken Administrative Dashboard</h1>
		<h3>Company Name: <span style='color:red; font-size:1.5em;'>{{title}}</span><-- it's from the server</h3>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="js/libs/handlebars.js"></script>
		<script src="js/libs/ember-1.0.0-rc.5.min.js"></script>
		<script src="js/application.js"></script>
	</body>
<html>