<html>
	<head>
	</head>
	<body>
		<h2>Kraken Index</h2>

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<!-- <script src="js/libs/handlebars.js"></script>
		<script src="js/libs/ember-1.0.0-rc.5.min.js"></script>
		<script src="js/application.js"></script> -->
	</body>
<html>